{% extends 'index1.html' %}
{% load crispy_forms_tags %}
{% block title %}
        Cargo
{% endblock %}
{% block content %}
<br>
<div class="card col-12">
    <div class="card-header">
        <h3 class="card-title">Cargo</h3>
        <a href="{% url 'download_cargocsv' %}" class="btn btn-success">Download Csv</a>
    </div>
    <button>
        <a href="{% url 'addCargo' %}">Add Data</a> 
    </button>
    <div class="card-body">
        <table id="example1" class="table">
            <thead>
                <tr>
                    <td>Airline_id</td>
                    <td>Origin</td>
                    <td>Destination</td>
                    <td>Date</td>
                    <td>Goods_description</td>
                    <td>Weight</td>
                    <td>Product</td>
                </tr>
            </thead>
            <tbody>
                {% for data in cargoes %}
                <tr>
                    <td>{{ data.Airline_id }}</td>
                    <td>{{ data.Origin }}</td>
                    <td>{{ data.Destination }}</td>
                    <td>{{ data.Date }}</td>
                    <td>{{ data.Goods_Description }}</td>
                    <td>{{ data.Weight }}</td>
                    <td>{{ data.Product }}
                        <a href="{% url 'updateCargo' data.Airline_id %}" class="btn btn-success"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'deleteCargo' data.Airline_id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}